Repository datasophos/streamweave: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

docs: add action for deploying documentation site
  .github/workflows/docs.yml
  docs/_static/extra.css
  docs/index.md
  mkdocs.yml
Due: none

Add dark mode, user Settings page, MIT license, and dev admin seeding
  LICENSE
  README.md
  backend/ensure_admin.py
  docker-compose.dev.yml
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/components/ErrorMessage.tsx
  frontend/src/components/Modal.tsx
  frontend/src/components/PageHeader.tsx
  frontend/src/components/Table.tsx
  frontend/src/contexts/PreferencesContext.tsx
  frontend/src/index.css
  frontend/src/layouts/AppLayout.tsx
  frontend/src/main.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/admin/Hooks.tsx
  frontend/src/pages/admin/Instruments.tsx
  frontend/src/pages/admin/Schedules.tsx
  frontend/src/pages/admin/Storage.tsx
  frontend/src/pages/user/InstrumentRequest.tsx
  frontend/src/pages/user/MyFiles.tsx
  frontend/src/pages/user/Settings.tsx
  frontend/src/pages/user/Transfers.tsx
  frontend/src/test/contexts/PreferencesContext.test.tsx
  frontend/src/test/layouts/AppLayout.test.tsx
  frontend/src/test/pages/user/Settings.test.tsx
  frontend/src/test/setup.ts
  frontend/src/test/utils.tsx
  frontend/tailwind.config.js
  scripts/test_backend.sh
  scripts/test_frontend.sh
Due: backend, frontend

Add French Canadian locale, country flags, and login language chooser
  frontend/src/contexts/PreferencesContext.tsx
  frontend/src/i18n/config.ts
  frontend/src/i18n/locales/en/login.json
  frontend/src/i18n/locales/en/settings.json
  frontend/src/i18n/locales/es/login.json
  frontend/src/i18n/locales/es/settings.json
  frontend/src/i18n/locales/fr-CA/common.json
  frontend/src/i18n/locales/fr-CA/dashboard.json
  frontend/src/i18n/locales/fr-CA/files.json
  frontend/src/i18n/locales/fr-CA/hooks.json
  frontend/src/i18n/locales/fr-CA/instruments.json
  frontend/src/i18n/locales/fr-CA/login.json
  frontend/src/i18n/locales/fr-CA/nav.json
  frontend/src/i18n/locales/fr-CA/request.json
  frontend/src/i18n/locales/fr-CA/schedules.json
  frontend/src/i18n/locales/fr-CA/settings.json
  frontend/src/i18n/locales/fr-CA/storage.json
  frontend/src/i18n/locales/fr-CA/transfers.json
  frontend/src/i18n/locales/fr-CA/users.json
  frontend/src/i18n/locales/zh/login.json
  frontend/src/i18n/locales/zh/settings.json
  frontend/src/pages/Login.tsx
  frontend/src/pages/user/Settings.tsx
  frontend/src/test/i18n/config.test.ts
  frontend/src/test/pages/Login.test.tsx
  frontend/src/test/pages/user/Settings.test.tsx
Due: frontend

Switch footer wordmark to light variant in dark mode; add favicon
  frontend/index.html
  frontend/public/datasophos_wordmark_light.svg
  frontend/src/layouts/AppLayout.tsx
Due: frontend

Instruments page UX: custom confirm dialog, validation styles, table scroll, emoji headers
  docs/frontend-testing-guide.md
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/components/ConfirmDialog.tsx
  frontend/src/components/Table.tsx
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/instruments.json
  frontend/src/i18n/locales/es/common.json
  frontend/src/i18n/locales/es/instruments.json
  frontend/src/i18n/locales/fr-CA/common.json
  frontend/src/i18n/locales/fr-CA/instruments.json
  frontend/src/i18n/locales/fr/common.json
  frontend/src/i18n/locales/fr/instruments.json
  frontend/src/i18n/locales/zh/common.json
  frontend/src/i18n/locales/zh/instruments.json
  frontend/src/index.css
  frontend/src/pages/Login.tsx
  frontend/src/pages/admin/Instruments.tsx
  frontend/src/test/api/client.test.ts
  frontend/src/test/pages/admin/Instruments.test.tsx
  scripts/lint_frontend.sh
Due: frontend

Validate STREAMWEAVE_ENCRYPTION_KEY format at startup; fix dev default
  backend/app/config.py
  docker-compose.dev.yml
Due: backend

Milestone 3.5 (partial): soft-delete foundation, SMTP/Mailpit, email verification, password reset
  backend/alembic/versions/a1b2c3d4e5f6_m35_soft_delete_audit_notifications_requests.py
  backend/app/api/users.py
  backend/app/auth/setup.py
  backend/app/config.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/audit.py
  backend/app/models/base.py
  backend/app/models/group.py
  backend/app/models/hook.py
  backend/app/models/instrument.py
  backend/app/models/instrument_request.py
  backend/app/models/notification.py
  backend/app/models/project.py
  backend/app/models/schedule.py
  backend/app/models/storage.py
  backend/app/models/user.py
  backend/app/schemas/audit.py
  backend/app/services/audit.py
  backend/app/services/email.py
  backend/pyproject.toml
  backend/tests/test_api/test_auth.py
  backend/tests/test_services/test_email.py
  backend/uv.lock
  docker-compose.dev.yml
  docs/frontend-testing-guide.md
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/pages/ForgotPassword.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/ResetPassword.tsx
  frontend/src/pages/VerifyEmail.tsx
Due: backend, frontend

Milestone 3.5 (step 6): Storage location type-specific connection fields
  backend/app/api/service_accounts.py
  backend/app/api/storage.py
  backend/app/schemas/storage.py
  backend/tests/test_api/test_service_accounts.py
  backend/tests/test_api/test_storage.py
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/hooks/useInstruments.ts
  frontend/src/hooks/useStorage.ts
  frontend/src/i18n/locales/en/instruments.json
  frontend/src/i18n/locales/en/storage.json
  frontend/src/i18n/locales/es/storage.json
  frontend/src/i18n/locales/fr-CA/storage.json
  frontend/src/i18n/locales/fr/storage.json
  frontend/src/i18n/locales/zh/storage.json
  frontend/src/mocks/handlers.ts
  frontend/src/pages/admin/Instruments.tsx
  frontend/src/pages/admin/Storage.tsx
  frontend/src/test/hooks/useStorage.test.tsx
  frontend/src/test/pages/admin/Instruments.test.tsx
  frontend/src/test/pages/admin/Storage.test.tsx
Due: backend, frontend

Fix Toggle scroll-to-top, table flash on show-deleted, and test/lint gaps
  backend/tests/test_api/test_storage.py
  frontend/src/components/Toasts.tsx
  frontend/src/components/Toggle.tsx
  frontend/src/contexts/ToastContext.tsx
  frontend/src/contexts/ToastProvider.tsx
  frontend/src/hooks/useHooks.ts
  frontend/src/hooks/useInstruments.ts
  frontend/src/hooks/useSchedules.ts
  frontend/src/hooks/useStorage.ts
  frontend/src/hooks/useToast.ts
  frontend/src/hooks/useUsers.ts
  frontend/src/main.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/admin/Instruments.tsx
  frontend/src/pages/admin/Storage.tsx
  frontend/src/test/components/Toasts.test.tsx
  frontend/src/test/utils.tsx
Due: backend, frontend

Fix toast colors to use theme-aware semantic tokens
  frontend/src/components/Toasts.tsx
  frontend/src/contexts/ToastContext.tsx
  frontend/src/contexts/ToastProvider.tsx
  frontend/src/test/components/Toasts.test.tsx
  frontend/tailwind.config.js
Due: frontend

Fix S3 custom-endpoint compat, rclone in Docker, and prefect-server healthcheck
  backend/Dockerfile
  backend/app/services/storage_test.py
  backend/tests/test_services/test_storage_test.py
  dev/seed.py
  docker-compose.dev.yml
  docker-compose.yml
Due: backend

Milestone 3.5 (step 7): Built-in hooks dropdown
  backend/app/api/hooks.py
  backend/app/hooks/registry.py
  backend/tests/test_api/test_hooks_api.py
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/hooks/useHooks.ts
  frontend/src/i18n/locales/en/hooks.json
  frontend/src/i18n/locales/es/hooks.json
  frontend/src/i18n/locales/fr-CA/hooks.json
  frontend/src/i18n/locales/fr/hooks.json
  frontend/src/i18n/locales/zh/hooks.json
  frontend/src/mocks/handlers.ts
  frontend/src/pages/admin/Hooks.tsx
  frontend/src/test/hooks/useHooks.test.tsx
  frontend/src/test/pages/admin/Hooks.test.tsx
Due: backend, frontend

Milestone 3.5 (step 8): Instrument request & notification UX improvements
  backend/alembic/versions/b2c3d4e5f6a7_add_requester_email_and_notification_dismiss.py
  backend/app/api/instrument_requests.py
  backend/app/api/notifications.py
  backend/app/main.py
  backend/app/models/instrument_request.py
  backend/app/models/notification.py
  backend/app/schemas/instrument_request.py
  backend/app/schemas/notification.py
  backend/app/services/notifications.py
  backend/tests/test_api/test_instrument_requests.py
  backend/tests/test_api/test_notifications.py
  backend/tests/test_services/test_notifications.py
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/components/NotificationBell.tsx
  frontend/src/components/PageHeader.tsx
  frontend/src/hooks/useInstrumentRequests.ts
  frontend/src/hooks/useNotifications.ts
  frontend/src/i18n/locales/en/nav.json
  frontend/src/i18n/locales/en/request.json
  frontend/src/i18n/locales/es/nav.json
  frontend/src/i18n/locales/es/request.json
  frontend/src/i18n/locales/fr-CA/nav.json
  frontend/src/i18n/locales/fr-CA/request.json
  frontend/src/i18n/locales/fr/nav.json
  frontend/src/i18n/locales/fr/request.json
  frontend/src/i18n/locales/zh/nav.json
  frontend/src/i18n/locales/zh/request.json
  frontend/src/layouts/AppLayout.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/admin/InstrumentRequests.tsx
  frontend/src/pages/user/InstrumentRequest.tsx
  frontend/src/test/components/NotificationBell.test.tsx
  frontend/src/test/layouts/AppLayout.test.tsx
  frontend/src/test/pages/admin/InstrumentRequests.test.tsx
  frontend/src/test/pages/user/InstrumentRequest.test.tsx
Due: backend, frontend

Add VITE_DEMO_MODE login shortcuts for quick role switching
  docker-compose.dev.yml
  frontend/src/pages/Login.tsx
  frontend/src/test/pages/Login.test.tsx
Due: frontend

Replace nginx with Caddy for frontend reverse proxy
  caddy/Caddyfile.dev
  frontend/Caddyfile
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/vite.config.ts
Due: frontend

Add Caddy forward_auth gate for Prefect dashboard and cookie auth backend
  backend/app/api/auth_check.py
  backend/app/api/users.py
  backend/app/auth/setup.py
  backend/app/config.py
  backend/app/main.py
  backend/tests/conftest.py
  backend/tests/test_api/test_auth_check.py
  docker-compose.dev.yml
  docker-compose.yml
  docs/getting-started/development.md
  frontend/src/api/client.ts
  frontend/src/contexts/AuthContext.tsx
Due: backend, frontend

Fix rclone remote path construction and add global hook loading and min_size_bytes filter
  backend/app/flows/harvest.py
  backend/app/hooks/builtin/file_filter.py
  backend/app/transfers/rclone.py
  backend/tests/test_hooks/test_file_filter.py
  backend/tests/test_transfers/test_rclone.py
Due: backend

Add docs screenshots and enable pymdownx.tabbed in MkDocs
  docs/_static/prefect_flowrun_logs.png
  docs/_static/prefect_flowrun_logs_metadata_enrichment.png
  docs/_static/prefect_flowrun_logs_skip_tmp.png
  mkdocs.yml
Due: none

Fix import ordering and remove stray blank lines
  backend/app/api/users.py
  backend/app/auth/setup.py
  frontend/src/layouts/AppLayout.tsx
Due: backend, frontend

Fix unhandled MSW cookie auth requests and httpx per-request cookies deprecation
  backend/tests/test_api/test_auth_check.py
  frontend/src/mocks/handlers.ts
Due: backend, frontend

Switch dev TLS to mkcert and improve development docs
  .gitignore
  backend/pyproject.toml
  backend/uv.lock
  caddy/Caddyfile.dev
  docker-compose.dev.yml
  docs/getting-started/development.md
  frontend/src/layouts/AppLayout.tsx
  mkdocs.yml
  scripts/build_docs.sh
  scripts/setup-dev-certs.sh
Due: backend, frontend

Add membership-aware user endpoints and include email in member responses
  backend/app/api/groups.py
  backend/app/api/projects.py
  backend/app/api/users.py
  backend/app/main.py
  backend/app/schemas/group.py
  backend/app/schemas/project.py
  backend/app/schemas/user.py
  backend/tests/test_api/test_groups.py
  backend/tests/test_api/test_me.py
  backend/tests/test_api/test_projects.py
  backend/tests/test_api/test_users_admin.py
Due: backend

Make lint scripts match pre-commit hooks exactly, with auto-fix enabled
  .gitignore
  docs/backend-demo.ipynb
  docs/getting-started/development.md
  scripts/lint_backend.sh
  scripts/lint_frontend.sh
  scripts/setup-dev-certs.sh
Due: none

Add UserMenuDropdown to AppLayout with settings, sign-out, and help links
  backend/tests/test_api/test_groups.py
  backend/tests/test_api/test_projects.py
  docs/backend-demo.ipynb
  frontend/src/i18n/locales/en/nav.json
  frontend/src/layouts/AppLayout.tsx
  frontend/src/test/layouts/AppLayout.test.tsx
  scripts/lint.sh
  scripts/test.sh
Due: backend, frontend

Remove GET /users/me and add user API section to backend demo
  backend/app/main.py
  docs/backend-demo.ipynb
Due: backend

Add Swagger UI link and improve API docs, Caddy config, and OpenAPI description
  backend/app/main.py
  caddy/Caddyfile.dev
  frontend/Caddyfile
  frontend/src/layouts/AppLayout.tsx
  frontend/src/test/layouts/AppLayout.test.tsx
Due: backend, frontend

Align local and pre-commit linting with CI settings
  .pre-commit-config.yaml
  backend/tests/conftest.py
  backend/tests/test_api/test_health.py
  scripts/lint_backend.sh
  scripts/lint_frontend.sh
Due: backend

Update README
  README.md
Due: none

Fix dev setup docs: add IPv6 /etc/hosts entry and update URLs
  README.md
  docs/getting-started/development.md
Due: none

Add version to footer and report-an-issue link to help menu
  frontend/package.json
  frontend/src/i18n/locales/en/nav.json
  frontend/src/i18n/locales/es/nav.json
  frontend/src/i18n/locales/fr-CA/nav.json
  frontend/src/i18n/locales/fr/nav.json
  frontend/src/i18n/locales/zh/nav.json
  frontend/src/layouts/AppLayout.tsx
Due: frontend

Add Tooltip component to admin form fields with i18n help text
  frontend/src/components/Tooltip.tsx
  frontend/src/i18n/locales/en/hooks.json
  frontend/src/i18n/locales/en/instruments.json
  frontend/src/i18n/locales/en/storage.json
  frontend/src/i18n/locales/es/hooks.json
  frontend/src/i18n/locales/es/instruments.json
  frontend/src/i18n/locales/es/storage.json
  frontend/src/i18n/locales/fr-CA/hooks.json
  frontend/src/i18n/locales/fr-CA/instruments.json
  frontend/src/i18n/locales/fr-CA/storage.json
  frontend/src/i18n/locales/fr/hooks.json
  frontend/src/i18n/locales/fr/instruments.json
  frontend/src/i18n/locales/fr/storage.json
  frontend/src/i18n/locales/zh/hooks.json
  frontend/src/i18n/locales/zh/instruments.json
  frontend/src/i18n/locales/zh/storage.json
  frontend/src/pages/admin/Hooks.tsx
  frontend/src/pages/admin/Instruments.tsx
  frontend/src/pages/admin/Storage.tsx
  frontend/src/test/components/Tooltip.test.tsx
Due: frontend

wip on e2e tests
  .github/workflows/integration.yml
  .gitignore
  backend/pyproject.toml
  backend/tests/test_e2e/test_harvest_e2e.py
  scripts/run-e2e.sh
  simlab/Dockerfile.samba
  simlab/docker-compose.simlab.yml
  simlab/instruments/microscope-01/sample_data/experiment_001.csv
  simlab/instruments/microscope-01/sample_data/experiment_002.csv
  simlab/instruments/spectrometer-01/sample_data/sample_A_spectrum.csv
  simlab/instruments/spectrometer-01/sample_data/sample_B_spectrum.csv
  simlab/instruments/xray-diffraction-01/sample_data/crystal_scan_001.csv
  simlab/seed.py
Due: backend

Add server-side pagination to all list endpoints
  backend/app/api/audit.py
  backend/app/api/groups.py
  backend/app/api/hooks.py
  backend/app/api/instrument_requests.py
  backend/app/api/instruments.py
  backend/app/api/pagination.py
  backend/app/api/projects.py
  backend/app/api/schedules.py
  backend/app/api/storage.py
  backend/app/api/users.py
  backend/tests/test_api/test_audit.py
  backend/tests/test_api/test_groups.py
  backend/tests/test_api/test_hooks_api.py
  backend/tests/test_api/test_instrument_requests.py
  backend/tests/test_api/test_instruments.py
  backend/tests/test_api/test_projects.py
  backend/tests/test_api/test_schedules.py
  backend/tests/test_api/test_storage.py
  backend/tests/test_api/test_users_admin.py
Due: backend

Add client-side search filtering to all admin list views
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/es/common.json
  frontend/src/i18n/locales/fr-CA/common.json
  frontend/src/i18n/locales/fr/common.json
  frontend/src/i18n/locales/zh/common.json
  frontend/src/pages/admin/AuditLog.tsx
  frontend/src/pages/admin/Groups.tsx
  frontend/src/pages/admin/Hooks.tsx
  frontend/src/pages/admin/InstrumentRequests.tsx
  frontend/src/pages/admin/Instruments.tsx
  frontend/src/pages/admin/Projects.tsx
  frontend/src/pages/admin/Schedules.tsx
  frontend/src/pages/admin/Storage.tsx
  frontend/src/pages/admin/Users.tsx
  frontend/src/test/pages/admin/AuditLog.test.tsx
  frontend/src/test/pages/admin/Groups.test.tsx
  frontend/src/test/pages/admin/Hooks.test.tsx
  frontend/src/test/pages/admin/InstrumentRequests.test.tsx
  frontend/src/test/pages/admin/Projects.test.tsx
  frontend/src/test/pages/admin/Schedules.test.tsx
  frontend/src/test/pages/admin/Storage.test.tsx
  frontend/src/test/pages/admin/Users.test.tsx
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
